<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href='../../../libs/bootstrap/css/bootstrap.css' rel="stylesheet">
<style>
   .page,table{
   	text-align:center;
   }
   th{
    text-align: center;
    }
</style>
</head>
<body>
<table  class="table table-bordered table-striped table-hover ">
	 <tr>
		 <th>用户名</th>
		 <th>用户邮箱</th>
		 <th>注册时间</th>
		 <th>操作</th>
	 </tr>
 {foreach $data as $key=>$value}<!-- $key下标>$value值 --> <!--{$value->username}   把username赋值给 $value -->
	 <tr>
		 <td>{$value->username}</td>
		 <td>{$value->email}</td>
		 <td>{$value->regTime}</td>
		 <td>
			 <a href='update.php?id={$value->id}'>修改</a>
			 <a href='delete.php?id={$value->id}'>删除</a>
		 </td>
	 </tr>
 {/foreach}
 	 <tr>
	 <td colspan="4"><a href='add.php'>添加数据</a></td>
	 </tr>
</table>
<!-- 输出分页 -->
<div class="page">
	{{$page}}
</div>
</body>
</html>